body {
  background-color: #0b1c2d;
  color: white;
  font-family: Arial;
  text-align: center;
}

header {
  background: #123456;
  padding: 20px;
}

nav a {
  color: white;
  margin: 10px;
  text-decoration: none;
}
